.page-header
  %h1 Crono Dashboard
%h3 Running Jobs
%table.table
  %tr
    %th Job
    %th Last performed at
    %th
  - for job in @jobs
    %tr
      %td= job.job_id
      %td= job.last_performed_at
      %td
        %a{href: url("/jobs/#{job.id}")} Log
