%header.container.blue-grey.lighten-4.grey-text.text-darken-4
  %a{ href: url('/') }
    %i.mdi-navigation-chevron-left
    Back to Home
  %h4 "#{@job.job_id}" Last log:

%main.container.blue-grey.lighten-4.grey-text.text-darken-4
  - if @job.healthy == false
    .row.red-text
      .s12.center-align
        %i.mdi-alert-warning
        An error occurs during the last execution of this job.
        Check the log below for details.

  %pre= @job.log
