!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' }

    %title Crono Dashboard

    %link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css', rel: 'stylesheet', media: 'screen,projection' }
    %link{ href: "#{env['SCRIPT_NAME']}/custom.css", rel: 'stylesheet' }

  %body.blue-grey.darken-2
    %nav.container.blue-grey.white-text
      .nav-wrapper
        %a.brand-logo{ href: url('/') } Crono Dashboard

    = yield

    %footer.page-footer.blue-grey.darken-2
      .footer-copyright.blue-grey.darken-2
        .container.blue-grey.white-text
          Crono v#{Crono::VERSION}

          %a.right{ href: 'https://github.com/plashchynski/crono', target: '_blank' } Documentation


    %script{ src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js' }
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js' }
